<!doctype html>
<html lang="en">
  <head>
    <!-- voodoo -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- basic meta -->
    <title>PyBeach 2026</title>
    <meta name="description" content="PyBeach is a Python conference in Los Angeles, California." />

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/static/images/pybeach-logo.svg">

    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/static/style/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/style/style.css" />

    <!-- Plausible -->
    <script async src="/p/js/script.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init({
        endpoint: "/p/api/event"
      })
    </script>
  </head>
  <body>

    <header>
      <img src="/static/images/pybeach-logo.svg">
      <h1>PyBeach 2026</h1>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>
        &copy; 2026 PyBeach, member project of the <a href="https://www.python.org/psf/" title="Python Software Foundation">Python Software Foundation</a>, a 501(c)(3) non-profit corporation.<br>
        <a href="mailto:hello@pybeach.org" title="Email PyBeach">hello@pybeach.org</a> • <a href="https://fosstodon.org/@pybeach" title="PyBeach (@pybeach@fosstodon.org) - Fosstodon">@pybeach@fosstodon.org</a> • <a href="https://bsky.app/profile/pybeach.bsky.social" title="PyBeach (@pybeach.bsky.social) - Bluesky">@pybeach.bsky.social</a> • Logo design by <a href="https://bsky.app/profile/ccezra.bsky.social">Chloe Ezra</a>
      </p>
    </footer>

  </body>
</html>
